<html>
  <head>
    <link rel="stylesheet" href="/style.css">  
  </head>
  <body>
    <p>You have <%= @guesses %> guesses left </p>
    <p><%= @hidden_word %></p>
    <form action="/" method="post">
      <input type='text' name='letter' value="<%= @letter %>" />
      <input type='submit'>
  </form>
  <p><%= @message %></p>
  <p>Correctly guessed letters:<%= @correct_letters %></p>
  <p>All guessed letters:</p>
  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  <ul>
  </body>
</html>